/////grid/////

$grid-gutter-width: 20px;
$grid-columns: 16;

$container-max-widths: ( 
"lg": 950px,    
"xl": 960px
);

$spacer: 1rem;
//navbar
$navbar-padding-x: 0.625rem;

//text
$paragraph-margin-bottom: 0;

//input group
$input-padding-y: 0;
$input-group-addon-bg: none;
$input-border-width: 0;






