.footer-top {
    background: url(../../img/footer-top-texture.png) rgb(251, 242, 211); /*поменять как в фотошоп*/
    background-size: cover;
    box-shadow: 0px 5px 0px 0px rgba(222, 213, 183, 0.92);
}



.footer-top-content {
    
    display: flex;
    flex-flow: row nowrap;
    align-content: flex-start;
    
    padding-top: 15px;
    padding-bottom: 25px;
    
    img {
        
        &[alt = "bulb"]{
            max-height: 26px;
            margin-right: 9px;
            padding-left: 2px;
            margin-top:5px;
        }
        
        &[alt = "bolt"]{
            max-height: 28px;
            margin-top: 5px;
            margin-left: 12px;
            margin-right: 9px;
        }
        
        &[alt = "power"]{
            max-height: 24px;
            margin-top: 5px;
            margin-left: 17px;
            margin-right: 7px;
        }
        
        
    }
    
    h5{
        @include font($Telegrafico_4...);
        margin-bottom: 1px;
    }
    
    p {
        @include font($Terminal_Dosis_11...);
        padding-left: 1px;
        padding-top: 1px;
    }
}

.footer-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}


.footer-middle {
    margin-top: 5px;
    padding-top: 13px;
    background: url(../../img/footer_mid_back_2.png) no-repeat top rgb(99, 99, 99);
    box-shadow: inset 0px 5px 9px 0px rgba(0, 0, 0, 0.08);
    padding-bottom: 35px;
    box-shadow: 0px 5px 0 0 rgb(92, 92, 92);
}

.footer-mid-content {
    
    flex-basis: 19%;
    
    h5 {
        @include font($Telegrafico_8...);
        margin-bottom: 0;
        margin-top: 3px;
    }
    
    p{
        @include font($Terminal_Dosis_10...);
        margin-top: 2px;
        margin-left: 1px;
    }
    
    ul {
        padding-left: 0;
        margin-top: 2px;
        li{
            list-style: none;
        
        a{
            text-decoration: none;
            @include font($Terminal_Dosis_9...);
            
            &:hover {
                text-decoration: none;
                }
            }
        }
    }
    
    &:nth-child(2){
        h5 {
            margin-left: 14px;
        }
        
        ul {
            margin-left: 15px;
            
        }
    }
    
    &:nth-child(3){
        flex-basis: 22%;
        
        h5 {
            margin-left: 29px;
        }
        
        ul {
            margin-left: 29px;
        }
    }
    
    &:nth-child(4){
        flex-basis: 18%;
        
        h5 {
            margin-left: 14px;
        }
        
        ul {
            margin-left: 15px;
        }
        
    }
    
    &:nth-child(5){
        h5 {
            margin-left: 39px;
        }
        
        ul {
            margin-left: 39px;
        }
    }    
}

.footer-bottom {
    background: linear-gradient(0deg, rgb(73, 73, 73) 0%, rgb(79, 79, 79) 100%);
    background-size: cover;
    margin-top: 5px;
    padding-bottom: 23px;
    
    
    p {
      @include font($Telegrafico_7...);
        margin-top: 18px;
        display: inline-block;
        
        &:nth-child(2){
            @include font($Myriad_Pro_3...);
        }
        
        &:nth-child(4){
            float: right;
            padding-left: 4px;
            line-height: 22px;
        }
    }
    
    
}
